{{ $baseURL :=  .Site.BaseURL }}

{{ partial "top" . }}
{{ partial "header" . }}

<main>

  <header class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Notebook</h1>
      </div>
    </div>
  </header>

    <div class="section">
      <article class="section notebook-article">
        <div class="container">
          <div class="columns notebook-note notebook-note-{{ .Params.style }}">
            <div class="column is-4">
              <header>
                <h2 class="is-size-4">{{ .Title }} </h2>
                <div class="notebook-note-date">{{ dateFormat "January 2, 2006" .Date }} </div>
                <div class="notebook-note-tags">
                  {{ range .Params.tags }}
                    <a href="{{ $baseURL }}/tags/{{ replace . " " "-" }}">
                      <span class="tag">{{ . }}</span>
                    </a>
                  {{ end }}
                </div>
              </header>
            </div>
            <div class="column is-7 is-offset-1">
              <div class="notebook-note-content is-size-{{ .Params.textSize }}">
                {{ .Content }}
              </div>

              {{ if .Params.image }}
                <figure class="image">
                  <img src="{{ $baseURL }}/notebook/{{ .Params.image }}"
                  alt="{{ .Params.alt }}">
                </figure>
              {{ end }}

              {{ if .Params.imageVertical }}
                <div class="columns">
                  <div class="column is-4 image-column">
                    <figure class="image">
                      <img src="{{ $baseURL }}/notebook/{{ .Params.imageVertical }}"
                      alt="{{ .Params.alt }}">
                    </figure>
                  </div>
                </div>
              {{ end }}

              {{ if .Params.source }}
                <div class="notebook-note-source">
                  <br>
                  <a href="{{ .Params.sourceLink }}" target="_blank">{{ .Params.source }}</a>
                </div>
              {{ end }}
            </div>

          </div>
        </div>
      </article>
    </div>
</main>

{{ partial "footer" . }}
{{ partial "bottom" . }}
