{{ $baseURL := .Site.BaseURL }} {{ partial "top" . }} {{ partial "header" . }}

<main>

  <article>

    <header class="hero is-primary with-section-header">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Web Development
          </h1>
        </div>
      </div>
    </header>

    <!--  WORK HISTORY -->

    <section class="section">
      <header class="section-header-first">
        <h2 class="title">My Work History</h2>
      </header>
      <div class="container">
      <div class="columns">
        <div class="column is-4">
          <div class="notification">
            <p>
              For 6 years I was the Web and Applications Developer
              for <a href="https://library.uncw.edu/" target="_blank">Randall Library</a>
              at <a href="https://uncw.edu/" target="_blank">
              The University of North Carolina Wilmington</a>.
              This is a library that sees 6 to 7,000 students
              come through its doors on a daily basis,
              with several thousand more using its website.
              I was the library's only coder, and I had
              my hands full.
            </p>
            <br>
            <p>
              My duties at the library included:
            </p>
            <ul class="my-history">
              <li>
                Creating dozens of new applications, using PHP, JavaScript, and
                frameworks like Laravel and Yii.
              </li>
              <li>
                Customizing open source projects for use at the library.
              </li>
              <li>
                Assisting with the maintenance of the library's 10 to 12
                Drupal sites.  I was responsible for writing custom modules
                to add functionality to the sites.  I also applied
                security patches on a regular basis and migrated the
                sites from one version of Drupal to the next.
              </li>
              <li>
                Setting up Red Hat servers and migrating applications from
                Windows to Linux.
              </li>
            </ul>
          </div>
        </div>
        <div class="column is-8">
          <div class="columns">
            <div class="column is-4">
              <figure class="image is-square">
                <img src="{{ $baseURL }}/development/L1.jpg" alt="Randall Library">
              </figure>
            </div>
            <div class="column is-4">
              <figure class="image is-square">
                <img src="{{ $baseURL }}/development/L5.jpg" alt="Randall Library">
              </figure>
            </div>
            <div class="column is-4">
              <figure class="image is-square">
                <img src="{{ $baseURL }}/development/L9.jpg" alt="Randall Library">
              </figure>
            </div>
          </div>

          <div class="columns">
            <div class="column is-4">
              <figure class="image is-square">
                <img src="{{ $baseURL }}/development/L2.jpg" alt="Randall Library">
              </figure>
            </div>
            <div class="column is-4">
              <figure class="image is-square">
                <img src="{{ $baseURL }}/development/L6.jpg" alt="Randall Library">
              </figure>
            </div>
            <div class="column is-4">
              <figure class="image is-square">
                <img src="{{ $baseURL }}/development/L10.jpg" alt="Randall Library">
              </figure>
            </div>
          </div>

          <div class="columns">
            <div class="column is-4">
              <figure class="image is-square">
                <img src="{{ $baseURL }}/development/L3.jpg" alt="Randall Library">
              </figure>
            </div>
            <div class="column is-4">
              <figure class="image is-square">
                <img src="{{ $baseURL }}/development/L7.jpg" alt="Randall Library">
              </figure>
            </div>
            <div class="column is-4">
              <figure class="image is-square">
                <img src="{{ $baseURL }}/development/L11.jpg" alt="Randall Library">
              </figure>
            </div>
          </div>

          <div class="columns">
            <div class="column is-4">
              <figure class="image is-square">
                <img src="{{ $baseURL }}/development/L4.jpg" alt="Randall Library">
              </figure>
            </div>
            <div class="column is-4">
              <figure class="image is-square">
                <img src="{{ $baseURL }}/development/L8.jpg" alt="Randall Library">
              </figure>
            </div>
            <div class="column is-4">
              <figure class="image is-square">
                <img src="{{ $baseURL }}/development/L12.jpg" alt="Randall Library">
              </figure>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>

    <!-- SKILLS -->

    <section class="section">
      <header class="section-header">
        <h2 class="title">My Skills</h2>
      </header>

      <div class="container">
        <div class="tile is-ancestor">

          <!-- first column -->

          <div class="tile is-parent is-vertical">

            {{ partial "skills" ( dict "Page"  . "category" "PHP" "background" "is-info" ) }}

            {{ partial "skills" ( dict "Page"  . "category" "JavaScript" "background" "is-link" ) }}

            {{ partial "skills" ( dict "Page"  . "category" "Database" "background" "is-info" ) }}

          </div>

          <!-- second column -->

          <div class="tile is-parent is-vertical">

            {{ partial "skills" ( dict "Page"  . "category" "Front End" "background" "is-primary" ) }}

            {{ partial "skills" ( dict "Page"  . "category" "Static Sites" "background" "is-info" ) }}

            {{ partial "skills" ( dict "Page"  . "category" "Content Management" "background" "is-link" ) }}

          </div>

          <!-- third column -->

          <div class="tile is-parent is-vertical">

            {{ partial "skills" ( dict "Page"  . "category" "Code Management" "background" "is-info" ) }}

            {{ partial "skills" ( dict "Page"  . "category" "Operating Systems" "background" "is-primary" ) }}

            {{ partial "skills" ( dict "Page"  . "category" "Graphics" "background" "is-info" ) }}

          </div>

      </div>
      </div>
    </section>

    <!-- PROJECTS -->

    <section class="section">
      <header class="section-header">
        <h2 class="title">My Projects</h2>
        <div class="subtitle">A partial list of projects I completed at Randall Library.</div>
      </header>

      <div class="container">

          {{ $.Scratch.Set "counter" 0 }}
          {{ range $.Site.Data.projects }}

            {{ $counter := $.Scratch.Get "counter" }}
            {{ $mod := ( mod $counter 4 ) }}
            {{ $.Scratch.Set "mod" $mod }}
            {{ $.Scratch.Set "counter" ( add $counter 1 ) }}

            <section class="section project-section">
              <div class="columns project project-{{ $.Scratch.Get "mod" }} ">
                <div class="column is-5 is-offset-1">
                  <header>
                    <h3 class="section-title is-size-4">{{ .title }} </h3>
                    <div class="project-description">
                      {{ .description }}
                    </div>
                  </header>
                </div>
                <div class="column is-4 is-offset-1">
                  <figure class="image is-square">
                    <img src="{{ $baseURL }}/development/{{ .image }}" alt="Screen print from {{ .title }} project">
                  </figure>
                </div>
              </div>
            </section>

            {{ end }}

      </div>

    </section>

  </article>

</main>

{{ partial "footer" . }} {{ partial "bottom" . }}
