{{ $baseURL :=  .Site.BaseURL }}

<footer class="footer">

  <div class="container">

    <div class="logo-column">
      <figure id="bho-logo" class="image is-64x64">
        <a href="{{ .Site.BaseURL }}">
          <img src="{{ .Site.BaseURL }}bh-logo.gif" alt="Logo">
        </a>
      </figure>
      <div class="masthead title is-size-3 has-text-centered has-text-grey">
        BOB HUMPHREY
      </div>
    </div>

    <div class="footer-social-media-links has-text-centered">
      <div class="footer-social-media-link">
        <a href="https://gitlab.com/Bob_Humphrey" target="_blank">
          <span class="icon has-text-grey is-size-5">
            <i class="fab fa-gitlab"></i>
          </span>
        </a>
        <a href="https://www.goodreads.com/review/list/9075241-bob-humphrey" target="_blank">
          <span class="icon has-text-grey is-size-5">
            <i class="fab fa-goodreads"></i>
          </span>
        </a>
        <a href="https://www.instagram.com/dog_smile_factory/" target="_blank">
          <span class="icon has-text-grey is-size-5">
            <i class="fab fa-instagram"></i>
          </span>
        </a>
        <a href="https://dogsmilefactory.tumblr.com/" target="_blank">
          <span class="icon has-text-grey is-size-5">
            <i class="fab fa-tumblr"></i>
          </span>
        </a>
        <a href="https://twitter.com/b0bhumphrey" target="_blank">
          <span class="icon has-text-grey is-size-5">
            <i class="fab fa-twitter"></i>
          </span>
        </a>
      </div>
    </div>

    <div class="columns">
      <div class="column is-4 is-offset-4">
        <div class="columns">
          <div class="column is-8 is-offset-2">
            <figure id="dog-smile-factory" class="image is-square">
              <img src="{{ .Site.BaseURL }}home/dog-smile-factory.jpg"
              alt="Dog Smile Factory">
            </figure>
            <div class="tagline is-size-7 has-text-centered">
              Working overtime in <br>the dog smile factory
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</footer>
