<header>
  <nav class="navbar" aria-label="main navigation">
    <div class="container">

    <!-- brand -->

    <div class="navbar-brand">
      <a class="navbar-item" href="{{ .Site.BaseURL }}">
        <img src="{{ .Site.BaseURL }}bh-logo.gif" alt="Bob Humphrey">
      </a>

      <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <!-- menu -->

    <div class="navbar-menu" id="navMenu">

      <!-- left menu -->
      <div class="navbar-start">
        <!-- navbar items -->
      </div>

      <!-- right menu -->
      <div class="navbar-end">
        <!-- navbar items -->
        <a class="navbar-item" href="{{ .Site.BaseURL }}about">
          About
        </a>
        <a class="navbar-item" href="{{ .Site.BaseURL }}development">
          Web Development
        </a>
        <a class="navbar-item" href="{{ .Site.BaseURL }}photography">
          Photography
        </a>
        <a class="navbar-item" href="{{ .Site.BaseURL }}drawings">
          Drawings
        </a>
        <a class="navbar-item" href="{{ .Site.BaseURL }}code-based-art">
          Code Based Art
        </a>
      </div>
    </div>

    </div>

  </nav>

</header>
