{{ $category := .category }}
{{ $background := .background }}

<div class="tile is-child notification {{ $background }}">
  <div class="content">
    <h2>{{ $category }}</h2>
    <div class="content">
      <ul>
        {{ range .Page.Site.Data.resources }} {{ if eq .category $category }}
        <li class="resource-item">
          <a href="{{ .link }}" target="_blank">
                      {{ .name }}
                    </a>
        </li>
        {{ end }} {{ end }}
      </ul>
    </div>
  </div>
</div>
