{{ $category := .category }}
{{ $background := .background }}

<div class="tile is-child notification {{ $background }}">
  <div class="content">
    <h3 class="skill-title">{{ $category }}</h3>
    <div class="content skills">
      <ul>
        {{ range .Page.Site.Data.skills }} {{ if eq .category $category }}
        <li class="blog-item">
          <a href="{{ .link }}" target="_blank">
                      {{ .name }}
                    </a>
        </li>
        {{ end }} {{ end }}
      </ul>
    </div>
  </div>
</div>
