
<!DOCTYPE html>
<html lang='en'>

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <meta name="description" content="The personal website of
     web developer and artist Bob Humphrey.">
     <title>
       Bob Humphrey
     </title>
     <link rel="stylesheet" href="{{ $.Site.BaseURL }}css/main.css">
     <link rel="stylesheet" href="{{ $.Site.BaseURL }}css/custom.css">
     <link rel="stylesheet" href="{{ $.Site.BaseURL }}css/fontawesome-all.min.css">
     <link rel="icon" href="{{ $.Site.BaseURL }}favicon.ico">
</head>

<body>
