{{ $baseURL :=  .Site.BaseURL }}
{{ partial "top" . }}
{{ partial "header" . }}

<main>

  <article>

    <header class="hero is-primary page-heading">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
        About
      </h1>
        </div>
      </div>
    </header>

    <section class="section about">
      <div class="container">
        <div class="columns">

          <div class="column is-3">
            <figure class="image">
              <img src="{{ $baseURL }}/home/bob.gif" alt="A picture of me.">
            </figure>
          </div>

          <div class="column is-5">
            <div class="notification">
              <h2>Hi, my name is Bob.</h2>
              <br>I'm a husband and father, web developer, coder, and artist.
              <br><br>
              <em>This</em> is the face <i class="far fa-frown"></i> I got from spending too much time in front of computer monitors.
              <br><br> I've had good jobs building websites and making software. Before that there were other jobs that were not as much fun, including washing dishes, pumping gas, selling Christmas trees, making pizzas, packing tools in a warehouse,
              shuffling papers for a bank, and selling lemonade at carnivals.
              <br><br> There's <em>so much</em> great stuff in the world, where do you even begin? Dogs, rainy days, long walks, art, music, and books.
              <br><br> So many beautiful people, so many fascinating cultures.
              <br><br> Why are so many choosing hatred, cruelty, prejudice, and facism?
            </div>
          </div>

          <div class="column is-4 is-size-6">

            <div class="columns">
              <div class="column">
                <h2>
              <a href="{{ $baseURL }}/development/">My Web Development Work</a>
            </h2>
              </div>
            </div>

            <div class="columns">
              <div class="column">
                <a href="{{ $baseURL }}/development/">
                  <figure class="image">
                    <img src="{{ $baseURL }}/development/bento.png" alt="Randall Library project screen.">
                  </figure>
                </a>
              </div>
              <div class="column">
                <a href="{{ $baseURL }}/development/">
                  <figure class="image">
                    <img src="{{ $baseURL }}/development/group-study.png" alt="Randall Library project screen.">
                  </figure>
                </a>
              </div>
            </div>

            <div class="columns">
              <div class="column">
                <h2>
              <a href="{{ $baseURL }}/photography/">My Photography</a>
            </h2>
              </div>
            </div>

            <div class="columns">
              <div class="column">
                <a href="{{ $baseURL }}/photography/">
                  <figure class="image">
                    <img src="{{ $baseURL }}/photography-original/98.jpg" alt="Lyon, France">
                  </figure>
                </a>
              </div>
              <div class="column">
                <a href="{{ $baseURL }}/photography/">
                  <figure class="image">
                    <img src="{{ $baseURL }}/photography-original/75.jpg" alt="Yoho National Park, British Columbia">
                  </figure>
                </a>
              </div>
            </div>

            <div class="columns">
              <div class="column">
                <h2>
              <a href="{{ $baseURL }}/drawings/">My Drawings</a>
              </h2>
              </div>
            </div>

            <div class="columns">
              <div class="column">
                <a href="{{ $baseURL }}/drawings/">
                  <figure class="image">
                    <img src="{{ $baseURL }}/art/rockport.jpg" alt="Rockport">
                  </figure>
                </a>
              </div>
              <div class="column">
                <a href="{{ $baseURL }}/drawings/">
                  <figure class="image">
                    <img src="{{ $baseURL }}/art/esplanade.jpg" alt="art gallery">
                  </figure>
                </a>
              </div>
            </div>

            <div class="columns">
              <div class="column">
                <h2>
              <a href="{{ $baseURL }}/code-based-art/">My Code Based Art</a>
            </h2>
              </div>
            </div>

            <div class="columns">
              <div class="column">
                <a href="{{ $baseURL }}/code-based-art/">
                  <div id="p5-image-resolution">
                  </div>
                </a>
              </div>
              <div class="column">
                <a href="{{ $baseURL }}/code-based-art/">
                  <div id="p5-progressive-color">
                  </div>
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

  </article>

</main>

{{ partial "footer" . }}

<script src="{{ .Site.BaseURL }}js/p5.min.js"></script>
<script src="{{ .Site.BaseURL }}js/addons/p5.dom.min.js"></script>
<script src="{{ .Site.BaseURL }}js/p5-image-resolution.js"></script>
<script src="{{ .Site.BaseURL }}js/p5-progressive-color.js"></script>
{{ partial "bottom" . }}
