/* FONTS -------------------------------------------------------------------- */

@font-face {
    font-family: 'Novecentosanswide-Book';
    src: url('Novecentosanswide-Book-webfont.woff2') format('woff2'),
         url('Novecentosanswide-Book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* GENERAL PAGE ------------------------------------------------------------- */

html {
  background-color: whitesmoke;
}
.page-heading h1, .page-heading h2, .page-heading .subheading {
  text-align: center;
  font-family: 'Novecentosanswide-Book', "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
}
.hero.with-section-header {
  margin-bottom: 0;
}
.hero .subtitle,
.title:not(.is-spaced) + .subtitle {
  margin-top: -10px;
}
main {
  background-color: white;
}
.section-main-content {
  background-color: white;
}
.section-header-first {
  margin-bottom: 50px;
}
.section-header {
  margin-top: -50px;
  margin-bottom: 50px;
}
.title {
  font-family: 'Novecentosanswide-Book', "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.subtitle {
  text-align: center;
}

/* FRAMEWORK CLASSES -------------------------------------------------------- */

h3 {
  font-family: 'Novecentosanswide-Book', "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
}
h3.inspiration {
  font-family: "Helvetica", "Arial", sans-serif;
  text-transform: none;
}
nav a {
  font-family: 'Novecentosanswide-Book', "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
}
.card {
  padding: 10px;
}
.card a {
  font-weight: bold;
}

/* SPECIFIC ELEMENTS -------------------------------------------------------- */

#bho-logo {
   margin-left: auto;
   margin-right: auto;
}
.place-caption {
  padding-top: 7px;
  font-weight: bold;
  color: gray;
}
.inspiration-link .content a {
  color: #1e88e5;
  font-weight: bold;
}
.inspiration-link .content a:hover {
  color: #0d47a1;
}
.about  a {
  font-family: 'Novecentosanswide-Book', "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000;
}
.about-me {
  background-color: hsl(0, 0%, 86%);
  padding: 20px;
}
.section-development-history {
  padding-top: 48px;
  padding-bottom: 48px;
}

/* FOOTER ------------------------------------------------------------------- */

footer {
  background-color: hsl(0, 0%, 86%);
  font-family: 'Novecentosanswide-Book', "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  padding-top: 45px;
}
footer .masthead {
  padding-top: 22px;
}
footer a {
  color: #0d47a1;
}
footer a:hover {
  color: #1e88e5;
}
.footer {
  padding-bottom: 48px;
}
.footer-social-media-links {
  padding-top: 25px;
}
#dog-smile-factory {
  margin-top: 30px;
}
.tagline {
  line-height: 1.2;
  margin-top: 7px;
}

/* BLOGROLL ----------------------------------------------------------------- */

.blogroll ul, .resources ul {
  list-style-type: none;
  text-align: left;
  padding-left: 0;
  margin-left: 0;
}
.blogroll .blog-item a, .resources .resource-item a {
  text-decoration: none;
  font-weight: normal;
}
.resources .resource-item {
  margin-bottom: 12px;
}
.blogroll .blog-item a:hover, .resources .resource-item a:hover {
  color: black;
}
.blogroll .is-info .blog-item a, .resources .is-info .resource-item {
  color: black;
}
.blogroll .is-info .blog-item a:hover, .resources .is-info .resource-item a:hover {
  color: white;
}
.blogroll h2, .resources h2 {
  font-family: 'Novecentosanswide-Book', "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
}
.blogroll .is-primary h2, .blogroll .is-link h2,
.resources .is-primary h2, .resources .is-link h2 {
  color: white;
}

/* WEB DEVELOPMENT ---------------------------------------------------------- */

ul.my-history {
  list-style: circle;
}
ul.my-history li {
  padding: 5px 0;
  margin-left: 15px;
}
.skills ul {
  list-style-type: none;
  text-align: left;
  padding-left: 0;
  margin-left: 0;
}
.skills .blog-item a {
  text-decoration: none;
  font-weight: normal;
}
.skills .blog-item a:hover {
  color: black;
}
.is-primary h3.skill-title, .is-link h3.skill-title {
  color: white;
}
.is-info .skills .blog-item a {
  color: black;
}
.is-info .skills .blog-item a:hover {
  color: white;
}
.is-info .title {
  color: black;
}
.project {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: hsl(0, 0%, 86%);
}
.project-1 {
  background:#1e88e5;
  color: white;
}
.project-1 h3 {
  color: white;
}
.project-3 {
  background:#0d47a1;
  color: white;
}
.project-3 h3 {
  color: white;
}
.project h3 {
  margin-bottom: 15px;
}
.section .project-section {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

/* NOTEBOOK ---------------------------------------------------------------- */

.notebook-note {
  padding: 40px;
  margin-bottom: 10px;
}
.notebook-note  h2 {
  font-family: 'Novecentosanswide-Book', "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  line-height: 1.75rem;
  margin-bottom: 20px;
}
.notebook-note  a {
  font-weight: bold;
}
.notebook-note-tags {
  padding-top: 7px;
}
.notebook-note-grey {
  background-color: hsl(0, 0%, 86%);
}
.notebook-note-grey a,
.notebook-note-grey a h2,
.notebook-note-grey h2
 {
  color: #0d47a1;
}
.notebook-note-grey a h2:hover {
  color: black;
}
.notebook-note-grey span.tag {
  background-color: black;
  color: white;
}
.notebook-note-primary {
  background-color: #1e88e5;
  color: white;
}
.notebook-note-primary a,
.notebook-note-primary a h2,
.notebook-note-primary h2
 {
  color: black;
}
.notebook-note-primary a h2:hover {
  color: white;
}
.notebook-note-primary span.tag {
  background-color: white;
  color: black;
}
.notebook-note-link {
  background-color: #0d47a1;
  color: hsl(0, 0%, 86%);
}
.notebook-note-link a,
.notebook-note-link a h2,
.notebook-note-link h2
 {
  color: white;
}
.notebook-note-link a h2:hover {
  color:  #1e88e5;
}
.notebook-note-link span.tag {
  background-color: hsl(0, 0%, 86%);
  color: #0d47a1;
}
.section.notebook-article {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* RESPONSIVE IFRAMES ------------------------------------------------------- */

.intrinsic-container {
position: relative;
height: 0;
overflow: hidden;
}
/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
padding-bottom: 56.25%;
}
/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
padding-bottom: 75%;
}
.intrinsic-container iframe {
position: absolute;
top:0;
left: 0;
width: 100%;
height: 100%;
}
