{{ $baseURL :=  .Site.BaseURL }}

{{ partial "top" . }}
{{ partial "header" . }}

<section class="hero is-primary page-heading">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{ .Title }}
      </h1>
    </div>
  </div>
</section>

<section class="section section-main-content">

  {{ $.Scratch.Set "counter" 0 }}

  {{ range (.Paginator 20).Pages }}

    {{ $counter := $.Scratch.Get "counter" }}
    {{ $mod := ( mod $counter 4 ) }}
    {{ $.Scratch.Set "mod" $mod }}
    {{ $.Scratch.Set "counter" ( add $counter 1 ) }}

      <div class="container notebook-note notebook-note-{{ .Params.style }}">
        <div class="columns">
          <div class="column is-4">
            <h3 class="title is-3">{{ .Title }} </h3>
            <div class="notebook-note-date">{{ dateFormat "January 2, 2006" .Date }} </div>
            <div class="notebook-note-tags">
              {{ range .Params.tags }}
                <a href="{{ $baseURL }}/tags/{{ replace . " " "-" }}">
                  <span class="tag">{{ . }}</span>
                </a>
              {{ end }}
            </div>
          </div>
          <div class="column is-7 is-offset-1">
            <div class="notebook-note-content is-size-{{ .Params.textSize }}">
              {{ .Content }}
            </div>
            {{ if .Params.source }}
              <div class="notebook-note-source">
                <br>
                <a href="{{ .Params.sourceLink }}" target="_blank">{{ .Params.source }}</a>
              </div>
            {{ end }}
            {{ if .Params.image }}
              <div class="columns">
                <div class="column is-7 image-column">
                  <figure class="image">
                    <img src="{{ $baseURL }}/notebook/{{ .Params.image }}">
                  </figure>
                </div>
              </div>
            {{ end }}
            {{ if .Params.imageVertical }}
              <div class="columns">
                <div class="column is-4 image-column">
                  <figure class="image">
                    <img src="{{ $baseURL }}/notebook/{{ .Params.imageVertical }}">
                  </figure>
                </div>
              </div>
            {{ end }}
          </div>
        </div>
      </div>

  {{ end }}

  <nav class="pagination is-centered" role="navigation" aria-label="pagination">
    {{ if .Paginator.HasPrev }}
      <a class="pagination-previous"
        href="{{ .Paginator.Prev.URL }}" >
        Previous
      </a>
    {{ else }}
      <a class="pagination-previous" disabled>
        Previous
      </a>
    {{ end }}
    {{ if .Paginator.HasNext }}
      <a class="pagination-next"
        href="{{ .Paginator.Next.URL }}" >
        Next page
      </a>
    {{ else }}
      <a class="pagination-next" disabled>
        Next page
      </a>
    {{ end }}
  </nav>

  </section>

{{ partial "footer" . }}
{{ partial "bottom" . }}
