{{ $baseURL :=  .Site.BaseURL }}

{{ partial "top" . }}
{{ partial "header" . }}

<main>

  <article>

    <header class="hero is-primary page-heading">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Photography</h1>
        </div>
      </div>
    </header>


    <section class="section">
      <div class="container">
        <div class="columns is-multiline">

          {{ range (.Paginator 20).Pages }}
          <div class="column is-one-quarter">

          </div>
          <div class="column is-half">
            <a href="{{ $baseURL }}photography/{{ .Params.file }}/">
              <figure class="image">
                <img src="{{ $baseURL }}photography-original/{{ .Params.file }}.jpg"
                alt="{{ .Params.caption }}">
              </figure>
            </a>
            <h2 class="place-caption">
              {{ .Params.caption }}
            </h2>
          </div>
          <div class="column is-one-quarter">

          </div>
          {{ end }}

        </div>
      </div>

      <nav class="pagination is-centered" aria-label="pagination">
        {{ if .Paginator.HasPrev }}
        <a class="pagination-previous" href="{{ .Paginator.Prev.URL }}">
        Previous
      </a> {{ else }}
        <a class="pagination-previous" disabled>
        Previous
      </a> {{ end }} {{ if .Paginator.HasNext }}
        <a class="pagination-next" href="{{ .Paginator.Next.URL }}">
        Next page
      </a> {{ else }}
        <a class="pagination-next" disabled>
        Next page
      </a> {{ end }}
      </nav>

    </section>

  </article>

</main>

{{ partial "footer" . }}
{{ partial "bottom" . }}
