{{ $baseURL :=  .Site.BaseURL }}

{{ partial "top" . }}
{{ partial "header" . }}

<main>

  <article>

    <header class="hero is-primary page-heading">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Photography</h1>
        </div>
      </div>
    </header>


    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-one-quarter">

          </div>
          <div class="column is-half">
            <figure class="image">
              <img src="{{ $baseURL }}photography-original/{{ .Params.file }}.jpg"
              alt="{{ .Params.caption }}">
            </figure>
            <h2 class="place-caption">
              {{ .Params.caption }}
            </h2>
          </div>
          <div class="column is-one-quarter">

          </div>
        </div>
      </div>
    </section>

  </article>

</main>

{{ partial "footer" . }}
{{ partial "bottom" . }}
