{{ $baseURL := .Site.BaseURL }} {{ partial "top" . }} {{ partial "header" . }}

<section class="hero is-link">
  <div class="hero-body">
    <div class="container">
      <div class="title is-size-3 has-text-centered">
        Sorry, your page could not be found.
      </div>
    </div>
  </div>
</section>

<figure class="image">
  <img src="{{ $baseURL }}/home/71.gif">
</figure>

{{ partial "footer" . }} {{ partial "bottom" . }}
