{{ $baseURL := .Site.BaseURL }} {{ partial "top" . }} {{ partial "header" . }}

<section>

  <figure class="image is-hidden-tablet">
    <img src="{{ $baseURL }}/home/lyon-mobile.gif" alt="Lyon, France">
  </figure>

  <figure class="image is-hidden-mobile">
    <img src="{{ $baseURL }}/home/lyon-tablet.gif" alt="Lyon, France">
  </figure>

</section>

{{ partial "footer" . }} {{ partial "bottom" . }}
