{{ $baseURL :=  .Site.BaseURL }}

{{ partial "top" . }}
{{ partial "header" . }}

<main>

  <article>

    <header class="hero is-primary page-heading">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Code Based Art</h1>
        </div>
      </div>
    </header>

    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <div id="p5-progressive-color">
            </div>
          </div>
          <div class="column">
            <div id="p5-image-resolution">
            </div>
          </div>
          <div class="column">
            <div id="p5-threshold">
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column is-4">
            <div id="p5-line-by-line">
            </div>
          </div>
        </div>
      </div>

    </section>

  </article>

</main>


{{ partial "footer" . }}

<script src="{{ .Site.BaseURL }}js/p5.min.js"></script>
<script src="{{ .Site.BaseURL }}js/addons/p5.dom.min.js"></script>
<script src="{{ .Site.BaseURL }}js/p5-image-resolution.js"></script>
<script src="{{ .Site.BaseURL }}js/p5-threshold.js"></script>
<script src="{{ .Site.BaseURL }}js/p5-progressive-color.js"></script>
<script src="{{ .Site.BaseURL }}js/p5-line-by-line.js"></script>

{{ partial "bottom" . }}
