{{ $baseURL :=  .Site.BaseURL }}
{{ $category := .Title }}
{{ $directory := lower $category }}

{{ partial "top" . }}
{{ partial "header" . }}

<main>

  <article>

    <header class="hero is-primary page-heading">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Inspiration</h1>
          <h2 class="subtitle">{{ .Title }}</h2>
        </div>
      </div>
    </header>

  <section class="section">
    <div class="container">
      <div class="columns is-multiline">

        {{ range $.Site.Data.inspiration }} {{ if eq .category $category }}
        <div class="column is-one-third">
          <div class="inspiration-link">
            <div class="inspiration-image">
              <a href="{{ .link }}" target="_blank">
                    <img src="{{ $baseURL }}/{{ $directory }}/{{ .name }}.jpg" alt="{{ .description }}">
                  </a>
            </div>
            <div class="content">
              <h3 class="is-size-6 inspiration"><a href="{{ .link }}" target="_blank">{{ .description }}</a></h3>
            </div>
          </div>
        </div>
        {{ end }}  {{ end }}

      </div>
    </div>
  </section>

  </article>

</main>

{{ partial "footer" . }}
{{ partial "bottom" . }}
