{{ $baseURL :=  .Site.BaseURL }}
{{ $category := "Category" }}

{{ partial "top" . }}
{{ partial "header" . }}

<main>

  <article>

    <header class="hero is-primary page-heading">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Inspiration</h1>
        </div>
      </div>
    </header>

      <section class="section">
          <div class="container">
            <div class="columns is-multiline">

              {{ range $.Site.Data.inspiration }} {{ if eq .category $category }}
                {{ $.Scratch.Set "page" (lower  .description) }}
                <div class="column is-one-third">
                  <div class="inspiration-link">
                    <div class="inspiration-image">
                      <a href="{{ $baseURL }}/inspiration/{{ $.Scratch.Get "page" }}">
                        <img src="{{ $baseURL }}/inspiration/{{ .name }}.jpg" alt="{{ .description }}">
                      </a>
                    </div>
                    <div class="content">
                      <h2 class="is-size-6"><a href="{{ $baseURL }}/inspiration/{{ $.Scratch.Get "page" }}">{{ .description }}</a></h2>
                    </div>
                  </div>
                </div>
              {{ end }} {{ end }}

            </div>
          </div>
      </section>

  </article>

</main>


{{ partial "footer" . }}
{{ partial "bottom" . }}
