{{ $baseURL := .Site.BaseURL }} {{ partial "top" . }} {{ partial "header" . }}

<main>

  <article>

    <header class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Resources
          </h1>
        </div>
      </div>
    </header>

    <section class="section resources">
      <div class="container">
        <div class="tile is-ancestor">

          <div class="tile is-parent is-vertical">
            {{ partial "resources" ( dict "Page"  . "category" "Articles" "background" "is-info" ) }}

            {{ partial "resources" ( dict "Page"  . "category" "Blogs" "background" "is-info" ) }}

            {{ partial "resources" ( dict "Page"  . "category" "Content Management" "background" "is-info" ) }}

            {{ partial "resources" ( dict "Page"  . "category" "CSS" "background" "is-info" ) }}
          </div>

          <div class="tile is-parent is-vertical">
            {{ partial "resources" ( dict "Page"  . "category" "Database" "background" "is-info" ) }}

            {{ partial "resources" ( dict "Page"  . "category" "Developers" "background" "is-info" ) }}

            {{ partial "resources" ( dict "Page"  . "category" "Flexbox" "background" "is-info" ) }}

            {{ partial "resources" ( dict "Page"  . "category" "Fonts" "background" "is-info" ) }}

            {{ partial "resources" ( dict "Page"  . "category" "General" "background" "is-info" ) }}

            {{ partial "resources" ( dict "Page"  . "category" "HTML" "background" "is-info" ) }}

            {{ partial "resources" ( dict "Page"  . "category" "Images" "background" "is-info" ) }}

            {{ partial "resources" ( dict "Page"  . "category" "Internet" "background" "is-info" ) }}

          </div>

          <div class="tile is-parent is-vertical">
            {{ partial "resources" ( dict "Page"  . "category" "Remote Work" "background" "is-info" ) }}

            {{ partial "resources" ( dict "Page"  . "category" "Security" "background" "is-info" ) }}

            {{ partial "resources" ( dict "Page"  . "category" "Static Sites" "background" "is-info" ) }}

            {{ partial "resources" ( dict "Page"  . "category" "Tools" "background" "is-info" ) }}

            {{ partial "resources" ( dict "Page"  . "category" "Utility-First CSS" "background" "is-info" ) }}

            {{ partial "resources" ( dict "Page"  . "category" "Vue" "background" "is-info" ) }}
        </div>

      </div>
      </div>
    </section>

  </article>

</main>






{{ partial "footer" . }} {{ partial "bottom" . }}
