{{ $baseURL := .Site.BaseURL }} {{ partial "top" . }} {{ partial "header" . }}

<main>

  <article>

    <header class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Blogroll
          </h1>
        </div>
      </div>
    </header>

    <section class="section blogroll">
      <div class="container">
        <div class="tile is-ancestor">

          <div class="tile is-parent is-vertical">
            {{ partial "blogroll" ( dict "Page"  . "category" "News" "background" "is-info" ) }}

            {{ partial "blogroll" ( dict "Page"  . "category" "Bloggers and Columnists" "background" "is-info" ) }}


          </div>

          <div class="tile is-parent is-vertical">
            {{ partial "blogroll" ( dict "Page"  . "category" "Podcasts" "background" "is-info" ) }}

            {{ partial "blogroll" ( dict "Page"  . "category" "Music" "background" "is-info" ) }}


          </div>

          <div class="tile is-parent is-vertical">
            {{ partial "blogroll" ( dict "Page"  . "category" "Miscellaneous" "background" "is-info" ) }}

            {{ partial "blogroll" ( dict "Page"  . "category" "Spiritual" "background" "is-info" ) }}

            {{ partial "blogroll" ( dict "Page"  . "category" "Family and Friends" "background" "is-info" ) }}


        </div>

      </div>
      </div>
    </section>

  </article>

</main>






{{ partial "footer" . }} {{ partial "bottom" . }}
