{{ $baseURL :=  .Site.BaseURL }}

{{ partial "top" . }}
{{ partial "header" . }}

<main>

  <article>

    <header class="hero is-primary page-heading">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Drawings</h1>
        </div>
      </div>
    </header>

    <section class="section">
      <div class="container">
        <div class="columns is-multiline">

          {{ range $.Site.Data.drawings }}
          <div class="column is-one-quarter">

          </div>
          <div class="column is-half">
            <figure class="image">
              <img src="{{ $baseURL }}art/{{ .name }}.jpg" alt="{{ .place }}">
            </figure>
            <h2 class="place-caption">
              {{ .place }}
            </h2>
          </div>
          <div class="column is-one-quarter">

          </div>
          {{ end }}

        </div>
      </div>
    </section>

  </article>

</main>


{{ partial "footer" . }}
{{ partial "bottom" . }}
